.status {
  font-style: italic;
}

#reg {
  float:right;
  padding: 10px;
}

#post_update_form {
  width: 20em;
  margin-left: auto;
  margin-right: auto;
}

#wall {
  width: 35em;
  margin-left: auto;
  margin-right: auto;
}

#status_input {
  width: 80%;
}

#activity_page_title {
  width: 20em;
  margin-left: auto;
  margin-right: auto;
}
